.subheader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background: #FFD1AC;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.subheader-img {
  width: 218px;
  height: 31px;
}

.subheader-title {
  color: #2C2B31;
  font-size: 14px;
}